<div class="jumbotron text-center">
  <h1>MANGO Cup</h1>
  <p>The greatest Foosball tournament there ever was or will be.</p>
  <%= link_to 'Register', new_player_path, class: 'btn btn-primary btn-lg' %>
</div>

<%#= image_tag('http://www.foosballreviews.com/foosball-video-picture.jpg', style: 'width: 100%; height: auto;') %>

<div id="getting-started"></div>
<script type="text/javascript">
  // $("#getting-started")
  // .countdown("2016/06/15", function(event) {
  //   $(this).text(
  //     event.strftime('%D days %H:%M:%S')
  //   );
  // });
</script>